// settings
$font-main: "Manrope", sans-serif;
$fontIcon: "icomoon";

:root {
    --Black: #000000;
    --White: #ffffff;
    --Primary: #e4e95b;
    --Secondary: #eb4d4d;
    --Secondary-2: #77f3a7;
    --Hover: #eaf050;
    --Text-primary: #111111;
    --Text-secondary: #5c6368;
    --Text-secondary-2: #a4aeb5;
    --Text-color-1: rgba(255, 255, 255, 0.6);
    --Text-muted: #e9e9d8;
    --Text-light: #ffffff;
    --Bg-light: #f8f7f3;
    --Line: #e4e4e4;
}
